PORT=5000
NODE_ENV=development

# MongoDB Atlas Database Template
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.2a4k4jq.mongodb.net/aarohan_db?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=your_secret_jwt_key
JWT_EXPIRES_IN=7d

# Cloudinary Credentials Template
CLOUDINARY_CLOUD_NAME=kfnzglyg
CLOUDINARY_API_KEY=312447248698133
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# CORS Origin
CLIENT_ORIGIN=http://localhost:5173
